body {
    font-family: sans-serif;
    background: url("DSCF5274.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* background-attachment: fixed; */
}

button {
  width: 350px;
  height: 120px;
  opacity: 0.6;
  font-size: x-large;
  background-color: beige;
  border: 0mm;

}

button:hover {
  transform: scale(1.2);
}