.headclass {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-template-areas:
    "a b c d e"
}


.item1 {
  grid-area: a;
}


.item3 {
  grid-area: e;
}


body {
    font-family:cursive;
    background: url("DSCF5274.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh; 
}


h1 {
  text-align: center;
  font-size:xx-large;
}


h2 {
  text-align: center;
}


.buttons {
  border-radius: 12px;
}


.button1 {
  width: 350px;
  height: 120px;
  opacity: 0.6;
  font-size: x-large;
  background-color: beige;
  border: none;
  position: bottom;
  border-radius: 12px;
}

button:hover {
  transform: scale(1.2);
}


.countries_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px 150px;
}


.cities_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px 150px;
}


.listofcountries {
  background-color: whitesmoke;            
  background: url("doodleart.jpg");
  background-repeat: no-repeat;
  background-size: cover;              
  width: 200px;
  min-height: 250px;
  border: 1px solid #000;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  zoom: 1;
  _height: 250px;
  text-align: center;
  opacity: 0.9;
}


.listofcities {
  background-color: whitesmoke;            
  background: url("city2.jpg");
  background-repeat: no-repeat;
  background-size: cover;              
  width: 200px;
  min-height: 250px;
  border: 1px solid #000;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  zoom: 1;
  _height: 250px;
  text-align: center;
  opacity: 0.9;
}


.error {
  color: red;
  font-size: x-large;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.error_msg {
  font-size: 200%;
}


.search_page {            
  background: url("404_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}