<html>
    <head class="headclass">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>My Travels</title>
        <a href="/">Home</a>
        <a href="/countries">Bucket List</a>
        {# <form action="/">                                        
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button> #}
    </head>
    {# <div class="body"> #}
        <body>
            {% block content %}
            {% endblock %}
        </body>
    {# </div> #}
    <footer>
    </footer>
</html>