<html>
    <head>
    <header class="headclass">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>My Travels</title>
        <div class="item1"><a href="/">Home</a>
            <a href="/countries">My List</a></div>
        {# <form action="/">                                         #}
        <div class="item3"><input type="text" placeholder="Search.." name="search">
        <button class="buttons" type="submit">Submit</button></div>
    </header>
    </head>
        <body>
            {% block content %}
            {% endblock %}
        </body>
    <footer>
    </footer>
</html>