<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>My Travels</title>
        <a href="/">Home</a>
        <a href="/countries">Bucket List</a>
        {# <form action="/">                                        #search bar function, needs attention
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button> #}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
    
    </footer>
</html>