{% extends "base.jinja" %}

{% block content %}
<h2>{{country.name}}</h2>

    {% for city in cities %}
        <ul>
            <li><a href="/countries/{{country.id}}/{{city.city_name}}"></a>{{city.city_name}}</a>
            {% if city.visited %}
            <span> &#9989;</span>
            {% endif %}
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </li>
            <form action="/countries/{{country.id}}/{{city.city_name}}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="delete" />
            </form>
        </ul>
        

    {% endfor %}

<form action="/countries/{{country.id}}/new" method="POST">
    <label for="city_name"></label>
    <input type="text" name="city_name" id="city_name"/>       
    <input type="submit" value="Add City">
</form>

{% endblock %}