{% extends "base.jinja" %}
{% block content %}
    <nav class="countries_nav">
        {% for country in countries %}
            <section>
                <li class="listofcountries"><a href="/countries/{{country.id}}">{{country.name}}</a></li>
                <form action="/countries/{{country.id}}/delete" method="POST">
                <input class="buttons" type="submit" value="delete" />
                </form>
            </section>
        {% endfor %}
    </nav>
    <center>
    <form action="/countries/new" method="POST">
        <label for="name"></label>
        <input type="text" name="name" id="name"/>       
        <input class="buttons" type="submit" value="Add Country">
    </form>
    </center>
{% endblock %}
