{% extends "base.jinja" %}

{% block content %}
<div class="body">
    <nav class="countries_nav">
        {% for country in countries %}
            <div class="something">
            {# <img src="https://shorturl.at/nsGY6" alt="town in Iceland"> #}
                <li class="listofcountries"><a href="/countries/{{country.id}}">{{country.name}}</a></li>
                <form action="/countries/{{country.id}}/delete" method="POST">
                <input class="buttons" type="submit" value="delete" />
                </form>
            </div>
        {% endfor %}
    </nav>
    <center>
    <form action="/countries/new" method="POST">
        <label for="name"></label>
        <input type="text" name="name" id="name"/>       
        <input class="buttons" type="submit" value="Add Country">
    </form>
    </center>
</div>
{% endblock %}
