{% extends "base.jinja" %}

{% block content %}
<div class="error">
<section>
<h3 class="error_msg"><b>HTTP ERROR 400</b></h3>
<p><b>First, you will need to delete the cities within this country!</b></p>
<button class="button1"><a href="/countries">Return</a></button>
</section>
</div>
{% endblock %}