{% extends "base.jinja" %}
    {% block content%}
    <section class="background">
    <center>
    <h1>A Travel Bucket List</h1>
    <h2><i>"A cliche travel quote"</i></h2>
    <a href="/countries"><button class="button1">To Infinity and Beyond!</button></a>
    </center>
    </section>
    {% endblock %}